body {
  margin: 0;
  padding: 0;
}

h1 {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  background: -webkit-linear-gradient(right, lightgrey, black);
  -webkit-background-clip: text;
  font-family: 'Audiowide', cursive;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: #599CED;
  font-size: 36px;
  border-bottom: 1px solid grey;
  font-family: 'Audiowide', cursive;
}

p {
  color: black;
  font-size: 1.5em;
}

/*========vvvApplicationvvv=========*/
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  }

/*========vvvHeadervvv=========*/
.Header {
    order: 1;
    flex: 0 0 auto;
    align-self: stretch;
    }

/*=====vvvMain Displayvvv=====*/
    .Main {
        order: 2;
        flex: 0 0 auto;
        align-self: stretch;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

/*==vvvStuff inside Main Displayvvv==*/

        .Sidebar {
           order: 1;
           flex: 0 1 auto;
           align-self: auto;
           height: 100vh;
           align-items: stretch;
           }
          .Data {
            order: 2;
            flex: 1 0 auto;
            align-self: auto;
            flex-direction: column;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: stretch;
          }
          /*.stats-container,
          .visualizer-container {
            flex: 1 0 50%;
          }*/


/*========vvvFootervvv=========*/
.Bottom {
  order: 3;
  flex: 0 1 auto;
  align-self: stretch;
  }
