body {
  margin: 0;
  padding: 0;
}

/*========vvvApplicationvvv=========*/
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  }

/*========vvvHeadervvv=========*/
.Header {
    order: 1;
    flex: 0 0 auto;
    align-self: stretch;
    }

/*=====vvvMain Displayvvv=====*/
    .Main {
        order: 2;
        flex: 0 0 auto;
        align-self: stretch;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
    }

/*==vvvStuff inside Main Displayvvv==*/

        .Sidebar {
           order: 1;
           flex: 0 1 auto;
           align-self: auto;
            height: 100%; 
           }
          .Data {
            order: 2;
            flex: 1 0 auto;
            align-self: auto;
            flex-direction: column;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: stretch;
          }
          .stats-container,
          .visualizer-container {
            flex: 1 0 50%;
          }


/*========vvvFootervvv=========*/
.Bottom {
  order: 3;
  flex: 0 1 auto;
  align-self: stretch;
  }
