.pageFAQ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  font-family: Arial;
  padding: 1rem;
  margin-left: 1rem;
}

.tableCont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 1rem;
}

.firstTable {
  order: 1;
  flex: 0 1 auto;
  align-self: stretch;
}

.secondTable {
  margin-left: 4rem;
  order: 2;
  flex: 0 1 auto;
  align-self: stretch;
}

.firstTable td {
  border: 4px solid grey;
  justify-content: center;
  text-align: center;
  padding: 1em;
  color: #599CED;
}
.secondTable td {
  border: 4px solid grey;
  justify-content: center;
  text-align: center;
  padding: 1em;
  color: #599CED;
}
