@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.header-container {
  display: flex;
  min-width: 100%;
  max-height: 100%;
  background-image: url('../../public/images/headerImgHome.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container h1 {
  display: flex;
  padding-top: 22.5rem;
  padding-left: 2rem;
  letter-spacing: 0.5rem;
  font-family: 'Audiowide', cursive;
  font-size: 60px;
  background: -webkit-linear-gradient(right, #FFF, #599CED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s linear;
  transform: translateX(20%);
  transform: translateY(0%);
}

.navLinks {
  margin: 1.5rem;
  padding-left: 34rem;

}

li {
  float: right;
  margin-right: 3rem;
  display: inline-block;
  padding: 0.3rem;
  padding-left: 1rem;
  flex-direction: row;
  font-size: 20px;
  font-family: 'Audiowide', cursive;
  color: #599CED;
  border: 0.1rem solid #599CED;
  border-radius: 1rem;
}
