@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.pageHome {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  font-family: Arial;
  padding: 1rem;
  margin-left: 1rem;
}
