@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.app-sidebar {
  display: flex;
  flex-direction: column;
  font-family: 'Audiowide', cursive;
  background-color: #599CED;
  font-size: 18px;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

h4 {
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 16px;
  color: white;
}

button {
  width: 14rem;
  height: 100%;
  font-size: 2rem;
  font-family: 'Audiowide', cursive;
  background-color: inherit;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 14rem;
  height: 100%;
}
