@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.app-sidebar {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 100vh;
  font-family: 'Audiowide', cursive;
  background-color: #599CED;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

h4 {
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 16px;
  color: white;
}

.home-page1, .results-page1, .skaters-page1, .records-page1, .season-page1, .contact-page1, .faq-page1 {
  width: 14rem;
  height: auto;
  font-size: 1.5rem;
  font-family: 'Audiowide', cursive;
  background-color: inherit;
  align-content: center;
  align-items: center;
  text-align: center;
  width: 14rem;
  height: 100%;
}
