@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.pageSkaters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    font-family: 'Audiowide', cursive;
    padding: 1rem;
    margin-left: 1rem;
}

.country {
  margin-bottom: 1rem;
}

.gender {
  margin-bottom: 1rem;
}

.given {
  margin-bottom: 1rem;
}

.family {
  margin-bottom: 1rem;
}

.select {
  margin-bottom: 1rem;
  margin: 3rem;
}

.submit button {
  background-color: #599CED;
  font-family: 'Audiowide', cursive;
  font-size: 2rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

option {
  margin-left: 2rem;
}
