@import url('https://fonts.googleapis.com/css?family=Audiowide|Faster+One');

.stats-container {
  font-family: 'Audiowide', cursive;
  align-content: center;
  border: 0.3rem dotted red;
}

h4 {
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 16px;
  color: black;
}
